#nav-tab{
    box-shadow: 0px 5px 10px grey;
    background: white;
}
.tify-active a{
    color: #00a8ff !important;
}
@media (min-width: 190px) {
    .tab-mt-sm {
        margin-top: 220px !important;
    }
    .header-sm {
        height: 220px !important;
    }
}
@media (min-width: 275px) {
    .tab-mt-md {
        margin-top: 140px !important;
    }
    .header-md{
        height: 140px !important;
    }
}
@media (min-width: 450px) {
    .tab-mt-lg {
        margin-top: 100px !important;
    }
    .header-lg {
        height: 100px !important;
    }
}

@media (min-width: 646px) {
    .tab-mt-xl {
        margin-top: 60px !important;
    }
    .header-xl {
        height: 60px !important;
    }
}
.tify-indicator {
    height: 80px !important;
    margin:0;
    padding: 0;
}
#tify-navbar{
    width: 1280px !important;
    height: 80px !important;
    margin-left: auto;
    margin-right: auto;
}
.navbar-header {
    margin-right: 280px !important;
}
.tify-nav-tab:hover {
    color: #32b9fc;
}
.tify-nav-tab{
    font-weight: bold;
    margin-left: 74px;
    display: inline-block !important;
    padding: 0px !important;
    color: grey;
}
.tab-body{
    display: block;
    width:100%; 
    height: 1000px !important;
}
.tify-content {
    width: 1280px !important;
    padding-top: 80px !important;
    margin-left: auto;
    margin-right: auto;
}
#main-desc.row {
    display: inline-block;
    align-content: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
